.main {
    width: 100%;
}

.main > section {
    display: flex;
    justify-content: center;
    padding: 5rem 0 4rem 0;
}

.main > section > article {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.main > section > article:not(:first-child) {
    align-items: flex-start;
    width: 45%;
    padding-left: 4.5rem;
    padding-top: 0.8rem;
}

.main > section > article:first-child {
    padding-left: 8rem;
    width: 55%;
}

.main > section > article > p {
    font-size: 1.2rem;
    width: 72%;
    line-height: 2.3rem;
}

.main > section > article > h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 0;
}

.main > section > article > div:not(.circles) {
    position: relative;
    width: 32rem;
    height: 32rem;
    top: auto !important;
    right: auto !important;
    left: auto !important;
    bottom: auto !important;
}

.square {
    background-color: #C4C4C4;
    margin-top: 2.5rem;
    margin-left: 2.5rem;
}

.circles {
    width: 50%;
    flex: 1;
    display: flex;
    align-items: flex-end;
}

.circles > div {
    height: 2.4rem;
    width: 2.4rem;
    background-color: white;
    border-radius: 50%;
    position: relative;
    bottom: 0;
}

.circles > div:not(:last-child) {
    margin-right: 1rem;
}

.videoWrapper {
    margin: auto;
    width: 73%;
    position: relative;
    border-radius: 50px;
    position: relative;
    padding-top: 41.1%;
}

.videoWrapper > div > div {
    border-radius: 20px;
}

.film {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.film > h2 {
    font-size: 2.1rem;
    padding: 5rem 0 4rem 0;
}

.grid {
    padding-top: 5rem;
    margin: auto;
    width: 100%;
}

.slider {
    width: 100%;
    margin-top: 13rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider > h3 {
    font-size: 2.3rem;
    color: white;
    margin-bottom: 9rem;
}