.videoWrapper {
    margin: auto;
    width: 73%;
    position: relative;
    border-radius: 50px;
    position: relative;
    padding-top: 41.1%;
    margin-bottom: 7rem;
}

.videoWrapper > div > div {
    border-radius: 20px;
}

.film {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.film > h2 {
    font-size: 2.1rem;
    padding: 5rem 0 4rem 0;
}