.clients {
  display: flex;
  background-color: white;
  padding: 0 120px;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 100px 0;
}

.logo {
  align-self: center;
}
