.main {
    background-color: white;
    width: 100%;
}

.main > section {
    padding: 7rem 0 7rem 0;
    width: 80%;
    margin: auto;
    display: grid;
    column-gap: 7rem;
    row-gap: 2rem;
    grid-template-areas: "first second"
                        "third fourth"
                        "fifth fourth";
}

.area1 {
    grid-area: first;
}

.area2 {
    grid-area: second;
}

.area3 {
    grid-area: third;
}

.area4 {
    grid-area: fourth;
    display: flex;
}

.area5 {
    grid-area: fifth;
}

.area4 > div {
    width: 19rem;
    height: fit-content;
    position: relative;
    font-size: 16px;
    border-radius: 10px;
}

.area4 > div:first-child {
    width: 16rem;
}

.area4 > div:first-child::after {
    right: 7%;
}

.area4 > div::after {
    content: "▼";
    transform: scaleX(1.5);
    font-size: 10px;
    position: absolute;
    pointer-events: none;
    top: 35%;
    right: 6%;
}

.area4 > div:not(:last-child) {
    margin-right: 1rem;
}

/* .area4 > div > select {
    width: 100%;
    height: 100%;
    display: block;
    outline: none;
    padding: 0.7rem 1.2rem 0.7rem 1.2rem;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #F9F9F9;
    
}

.area4 > div {
    width: 19rem;
    height: fit-content;
    position: relative;
}

.area4 > div:not(:last-child) {
    margin-right: 1rem;
}

.area4 > div::after {
    content: "▼";
    transform: scaleX(1.5);
    font-size: 10px;
    position: absolute;
    pointer-events: none;
    top: 35%;
    right: 6%;
} */