.main {
    background-color: white;
    width: 100%;
}

.main > section {
    padding: 7rem 0 7rem 0;
    width: 80%;
    margin: auto;
    display: grid;
    column-gap: 7rem;
    row-gap: 2rem;
    grid-template-areas: "first second"
                        "third fourth"
                        "fifth fourth";
}

.area1 {
    grid-area: first;
}

.area2 {
    grid-area: second;
}

.area3 {
    grid-area: third;
}

.area4 {
    grid-area: fourth;
    display: flex;
}

.area5 {
    grid-area: fifth;
}