.creditsInfo > article > h2 {
    font-size: 2.3rem;
    font-weight: 800;
}

.credits > .creditsInfo > article > p {
    font-size: 1.2rem;
}

.credits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #222;

}

.credits > .image {
    height: 80vh;
    position: relative
}

.credits > .creditsInfo {
    color: white;
    margin: auto;
    width: 80%;
    white-space: pre-line;
    display: flex;
    justify-content: flex-start;
}

.creditsInfo > article {
    padding: 8rem 0 8rem 0;
}