.description {
    width: 100%;
}

.description > article {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 7rem;
}

.description > article > h2, .description > article > p, .title {
    width: 80%;
    white-space: pre-line;
}

.title {
    padding-bottom: -10rem;
}

#hola {
    margin-bottom: -3rem;
}

.description > article > h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0;
}

.description > article > p {
    font-size: 24px;
    line-height: 170%;
    font-weight: 400;
    font-family: "Lora", serif;
}

@media (max-width: 700px) {
    .description > article {
        width: 90%;
    }
    .description > article > h2, .description > article > p {
        width: 100%;
    }
    .description > article > h2 {
        font-size: 30px;
    }
    .description > article > p {
        font-size: 20px;
        line-height: 170%;
    }
}