.container {
    background-color: black;
    width: 100%;
    padding: 5rem 0 5rem 0;
}

.grid {
    margin: auto;
    max-width: 80%;
    display: grid;
    gap: 1.2rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 22rem), 1fr));
    position: relative;
    grid-auto-rows: 449px;
}

@media (min-width: 1670px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(min(100%, 35rem), 1fr));
        grid-auto-rows: 1fr;
    }
}

@media (max-width: 700px) {
    .grid {
        max-width: 90%;
    }
}