.f1content, .f2content { /* Sección de descripción */
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    color: #222222;
    font-family: 'Lexend';
}

/* PRIMER PROYECTO */

.f1content { /* Sección de descripción */
    border-radius: 20px 0 0 20px;
    align-items: center;
}

.f1content > .info {
    width: 75%;
    height: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.f1content > .info > h2 { /* Título descriptivo */
    font-size: 2.2rem;
    margin-top: 0;
    margin-bottom: 0.8rem;
    width: 100%;
    white-space: pre-line
}

.f1content > .info > h3 { /* Marca */
    color: #828282;
    width: 100%;
    font-weight: 600 !important;
    font-size: 1.1rem;
    margin: 0;
}

.f1content > .info > p { /* "Ver el proyecto" */
    font-size: 1.2rem;
    margin: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.doubleImgBorder { /* Bordes de la imagen */
    width: 100%;
    border-radius: 0 20px 20px 0;
}

/* PROYECTOS SIGUIENTES */

.f2content { /* Sección de descripción */
    border-radius: 0 0 20px 20px;
    width: 100%;
    height: 50%;
    padding: 0.5rem 2rem 2rem 2.5rem;
}


.f2content > .info > h2 { /* Título descriptivo */
    font-size: 1.7rem;
    line-height: 1.8rem;
    width: 80%;
    font-weight: 700 !important;
    margin-bottom: 0.5rem;
    white-space: pre-line
}

.f2content > .info > h3 { /* Marca */
    font-weight: 600 !important;
    font-size: 1.2rem;
    color: #828282;
    margin: 0;
}

.singleImgBorder { /* Bordes de la imagen de los dos proyectos siguientes */
    border-radius: 20px 20px 0 0;
}

.arrow {
    margin-right: 1rem;
    margin-left: 1rem;
    position: relative;
    bottom: -2px;
}

/* EN COMÚN */

.img { /* Sección de imagen */
    height: 100%;
    width: 100%;
    position: relative;
}

/* MEDIA QUERIES */

@media (max-width: 600px) {
    .f1content {
        border-radius: 0 0 20px 20px;
        padding: 1rem 2rem 1rem 2rem;
        width: 100%;
        height: 40%;
        align-items: start;        
    }
    .f1content > h2 h3 {
        margin: 0;
        width: 70%;
        text-align: left;
    }
    .f1content > h2 { /* Título descriptivo */
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    
    .f1content > h3 { /* Marca */
        font-size: 1rem;
        color: gray;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
    }
    
    .doubleImgBorder { /* Bordes de la imagen de los dos proyectos siguientes */
        border-radius: 10px 10px 0 0;
    }
    
    .f1content > p { /* "See the project" */
        bottom: 1rem;
        right: 3rem;
    }
}