.container {
    background-color: rgb(186, 229, 205);
    width: 100%;
    padding: 5rem 0 5rem 0;
}

.grid {
    background-color: rgb(255, 239, 205);
    margin: auto;
    max-width: 80%;
    display: grid;
    gap: 1.2rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 22rem), 1fr));
    position: relative;
    grid-auto-rows: 27rem;
}
