.homeSection {
  display: flex;
  position: relative;
  width: 100vw;
  height: 60vh;
}

.parallax {
  height: 60vh;
}

.button {
  height: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.content {
  position: absolute;
  z-index: 1;
}

.centerPosition {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.rightPosition {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translateX(-80%) translateY(-50%);
}

.leftPosition {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateX(-10%) translateY(-50%);
}

.parallaxContent {
  display: flex;
  padding: 0 10rem;
  height: 100%;
  align-items: center;
  @media (max-width: 700px) {
    padding: 0 3rem;
  }
}

.parallaxContent.rightPosition {
  justify-content: end;
  & > * {
    text-align: right;
  }
  @media (max-width: 700px) {
    justify-content: center;
    & > * {
      text-align: center;
    }
  }
}

.parallaxContent.leftPosition {
  justify-content: start;
  & > * {
    text-align: left;
  }
  @media (max-width: 700px) {
    justify-content: center;
    & > * {
      text-align: center;
    }
  }
}

.parallaxContent.centerPosition {
  justify-content: center;
  & > * {
    text-align: center;
  }
}

.podcast {
  color: #fff;
}

.youtube {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 57px;
  font-weight: 400;
}

.content,
.parallaxContent h2 {
  margin: 0;
  margin-bottom: -20px;
  @media (max-width: 700px) {
    text-align: center;
    font-size: 30px;
  }
}

.content,
.parallaxContent button {
  font-size: 16px;
  font-weight: 600;
  padding: 15px 45px;
  color: #000;
  background-color: #ffcc00;
  border: 0;
  border-radius: 5px;
  transition: all 0.5s ease;
  margin-top: -2rem;
}

.content,
.parallaxContent button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
