.wrapper {
    z-index: 1;
    width: 100%;
    margin: auto;
    position: fixed;
}

.wrapper > main {
    width: 75%;
    display: flex;
    align-items: center;
    flex-direction:row;
    padding: 2rem 0 2rem 1rem;
    margin: auto;
    position: relative;
}

.wrapper > main > a {
    font-family: 'Poppins';
    flex: 1;
    transition: all 0.5s ease;
}


.wrapper > main > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamb > span > .b {
    cursor: pointer;
}

.hamb {
    z-index: 1;
    /* color:rgb(255, 120, 67); */
    height: fit-content;
    border-radius: 50%;
    background-color: white;
    color: #222;
}

.wrapper > main > .nav > ul {
    color: white;
}

.nav {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    line-height: 1rem;
    position: relative;
}

.nav > ul {
    display: flex;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 0;
}

.nav > ul > a {
    list-style: none;
}

.nav > ul > a > .liFirst {
    border-right: 1px solid white;
    padding-right: 0.5rem;
}

.nav > ul > a > .li {
    border-right: 1px solid white;
    padding: 0 0.5rem 0 0.5rem;
}

.nav > ul > a > .liLast {
    border: none;
    padding-left: 0.5rem;
}

.nav > ul > a > .liScrolled {
    border: none;
    padding-left: 0.7rem;
}

.prueba {
    background-color: rgba(0, 0, 0, 0.568);
    z-index: -1;
    height: 100%;
    width: 150%;
    position: fixed;
    border-radius: 50px;
}