.wrapper {
    z-index: 1;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction:row-reverse;
    padding: 1rem;
}

.wrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamb > span > .b {
    cursor: pointer;
}

.hamb {
    z-index: 1;
    color: rgb(37, 37, 37);
    background-color: rgba(255, 255, 255, 0.747);
    height: fit-content;
    border-radius: 50%;
}
.nav {
    color: white;
    width: 50%;
}