.wrapper {
    z-index: 1;
    width: 100%;
    margin: auto;
    position: fixed;
}

.wrapper > main {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction:row;
    padding: 2rem 0 2rem 1rem;
    margin: auto;
    position: relative;
}

.wrapper > main > a {
    flex: 1;
}

.wrapper > main > a > h2 {
    transition: all 0.5s ease;
    letter-spacing: 1px;
    font-size: 1.6rem;
}

.wrapper > main > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamb > span > .b {
    cursor: pointer;
}

.hamb {
    opacity: 0;
    transition: all 0.2s ease;
    z-index: 1;
    height: fit-content;
    border-radius: 50%;
    background-color: white;
    color: #222;
    box-shadow: 10px 10px 14px -10px rgba(0,0,0,0.39);
    -webkit-box-shadow: 10px 10px 14px -10px rgba(0,0,0,0.39);
    -moz-box-shadow: 10px 10px 14px -10px rgba(0,0,0,0.39);
}

.nav {
    font-size: 1.2rem;
    line-height: 1.5rem;
    position: relative;
}

.nav > ul {
    display: flex;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 0;
}

.nav > ul > a {
    list-style: none;
}

.nav > ul > a > li {
    transition: all 0.3s ease;
    overflow: hidden;
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
}

.nav > ul > a > li:hover {
    background-position: 0 100%;
}


.nav > ul > a > .liLast {
    border: none;
    padding-left: 0.5rem;
}

.nav > ul > a > .liScrolled {
    border: none;
    padding-left: 0.7rem;
}

.bg {
    background-color: rgba(0, 0, 0, 0.568);
    z-index: -1;
    height: 100%;
    width: 150%;
    position: fixed;
    border-radius: 50px;
    opacity: 0;
}

.light > a > .liFirst, .dark > a > .liFirst {
    padding-right: 0.5rem;
}

.light > a > .li, .dark > a > .li {
    padding: 0 0.5rem 0 0.5rem;
}

/*LIGHT THEME*/

.light > a > .liFirst, .light > a > .li {
    border-right: 1px solid white;
}

.light > a > li {
    background: linear-gradient(to right, #FF7843, #FF7843 50%, white 50%);
}

/*DARK THEME*/

.dark > a > .liFirst, .dark > a > .li {
    border-right: 1px solid #222;
}

.dark > a > li {
    background: linear-gradient(to right, #FF7843, #FF7843 50%, #222 50%);
}