.container {
    width: 100%;
    margin: auto auto 10rem auto;
    position: relative;
}

.grid {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 340.28px);
    gap: 1.1rem;
    position: relative;

}

.grid > .photo {
    width: 100%;
    padding-top: 452.34px;
    /* min-height: 452px;
    max-height: 800px; */
    position: relative;
}

.grid > .photo > div {
    border-radius: 15px;
    width: 340.28px;
    position: relative;
}

/* @media(max-width: 1200px) {
    .grid {
        margin:auto;
        width: fit-content;
        display: grid;
        grid-template-columns: repeat(2, 340px);
        gap: 1.1rem;
    }
} */

/* @media(max-width: 800px) {
    .grid {
        margin:auto;
        width: 340px;
        display: grid;
        grid-template-columns: repeat(1, 340px);
        gap: 1.1rem;
    }
} */

@media (max-width: 700px) {
    .container {
        display: none;
    }
}