.main {
  width: 100%;
  padding-top: 8rem;
  margin-bottom: 5rem;
}

.main > section {
  width: 78%;
  gap: 10%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.main > section > article {
  position: relative;
  color: white;
  overflow: hidden;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.main > section > article > img {
  height: 100%;
  width: 100%;
}

.main > section > article > p {
  font-size: 24px;
  line-height: 175%;
  margin-top: 0.2rem;
  font-family: "Lora", serif;
  white-space: normal;
}

.main > section > article > h3 {
  font-size: 40px;
  margin-bottom: 0.3rem;
  margin-top: 0;
  font-weight: 700;
}

.links {
  flex: 1;
  display: flex;
  width: 40%;
  align-items: flex-end;
  gap: 20px;
}

@media (max-width: 1000px) {
  .main > section {
    width: 90%;
    flex-direction: column;
    padding: 0;
  }

  .main > section > article {
    display: flex;
    align-self: center;
    width: 100%;
  }

  .main > section > article > p {
    font-size: 20px;
    line-height: 175%;
  }

  .main > section > article > h3 {
    font-size: 30px;
    margin: 5rem auto 3.5rem auto;
    font-weight: 700;
  }

  .main > section > article > div:not(.links) {
    width: 30px;
    border: 1px solid purple;
    margin: auto;
  }

  .links {
    display: none;
  }
}

@media (max-width: 500px) {
  .main > section > article > p {
    white-space: inherit;
    overflow-wrap: normal;
    line-break: strict;
  }
}
