.main {
    width: 100%;
    padding-top: 8rem;
    margin-bottom: 5rem;
}

.main > section {
    width: 78%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.main > section > article {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
    border-radius: 20px;
    margin: auto;
}

.main > section >article:first-of-type {
    width: 50%;
}

.main > section > article > img {
    height: 100%;
    width: 100%;
}

.main > section > article:not(:first-child) {
    align-items: flex-start;
    height: 524px;
}


.main > section > article > p {
    font-size: 24px;
    line-height: 175%;
    margin-top: 0.2rem;
    font-family: "Lora", serif;
    white-space: pre-line;
}


.main > section > article > h3 {
    font-size: 40px;
    margin-bottom: 0.3rem;
    margin-top: -1rem;
    font-weight: 700;
}

.main > section > article > div:not(.links) {
    position: relative;
    padding-top: 56.25%;
    border: 1px solid green;
}


.links {
    flex: 1;
    display: flex;
    width: 40%;
    align-items: flex-end;
}

.links > a {
    height: 48px;
    width: 48px;
    position: relative;
    bottom: 0;
    margin-right: 1rem;
}

.links > a > img {
    height: 48px;
    width: 48px;
    margin-right: 1rem;
    border-radius: 50%;
    transition: all 0.3s ease;
}


.links > a > img:hover {
    transform: scale(0.94);
}
@media (max-width: 1000px) {

    .main > section {
        flex-direction: column;
        padding: 0 ;
        width: fit-content;
        margin: -10rem auto auto auto;
    }

    .main > section >article:first-of-type {
        width: 90%;
    }
    

    .main > section > article:not(:first-child) {
        align-items: center;
        width: 87%;
        padding-left: 0;
        height: fit-content;
    }

    .main > section > article > p {
        font-size: 20px;
        width: fit-content;
        line-height: 175%;
        margin: auto;
    }

    .main > section > article > h3 {
        font-size: 30px;
        margin: 5rem auto 3.5rem auto;
        font-weight: 700;
    }


    .main > section > article > div:not(.links) {
        width: 30px;
        border: 1px solid purple;
        margin: auto;
    }

    .links {
        display: none;
    }
}

@media (max-width: 500px) {
    .main > section > article > p {
        white-space:inherit;
        overflow-wrap: normal;
        line-break: strict;
    }
}