.main {
    background-color: white;
}

.videoWrapper {
    position: relative;
    padding-top: 56.25%;
    background-position: center;
    background-size: cover;
}
.videoWrapper > div {
    height: 105%;
    top: -5px !important
}
.image {
    height: 80vh;
    position: relative
}

.moreProjectsContainer {
    width: 100%;
}

.moreProjectsContainer > h2 {
    width: 75%;
    margin: 10rem auto 2.5rem auto;
    font-size: 2.3rem;
    font-weight: 800;
}

.moreProjects {
    margin: auto;
    width: 75%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1.5rem;
    padding-bottom: 10rem;
}

.card {
    display: flex;
    height: 27rem;
    width: 100%;
    align-items: center;
    border-radius: 20px;
    transition: all 0.3s ease;
    width: 100%;
    flex-direction: column-reverse;
    
    box-shadow: 10px 10px 17px -3px rgba(0,0,0,0.17);
-webkit-box-shadow: 10px 10px 17px -3px rgba(0,0,0,0.17);
-moz-box-shadow: 10px 10px 17px -3px rgba(0,0,0,0.17);
}

.card:hover {
    transform: scale(0.98);
}
.card:hover {
    cursor: pointer;
}

.card > .content {
    width: 100%;
    min-height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.card > .content > .info {
    margin: auto;
    width: 85%;
    min-height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card > .content > .info > h2 {
    font-size: 30px;
    line-height: 1.8rem;
    font-weight: 700 !important;
    margin-top: 0;
    margin-bottom: 0.1rem;
    white-space: pre-line;
    transition: all 0.5s ease;
}

.card > .content > .info > h3 {
    font-weight: 600 !important;
    font-size: 18px;
    color: #828282;
    margin: 0;
    transition: all 0.5s ease;
}


.img {
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    width: 100%;
}

.img > img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

@media (max-width: 700px) {
    .moreProjects {
        margin: auto;
        width: 80%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1.5rem;
        padding-bottom: 10rem;
    }
    .moreProjectsContainer > h2 {
        width: 80%;
        margin: 10rem auto 8rem auto;
        text-align: left;
    }

    .card {
        height: 23rem;
    }

    .img {
        height: 100%;
    }
}

@media (min-width: 1670px) {
    .card {
        height: 32rem;
    }

    .moreProjects {
        padding-bottom: 12rem;
    }

    .moreProjectsContainer > h2 {
    width: 75%;
    margin: 11rem auto 6rem auto;
}
}