.container {
    display: flex;
    flex-direction: column;
    margin: -1rem auto auto auto;
    width: 78%;
}
.grid {
    position: relative;
    grid-template-columns: repeat(2, 50%);
    display: grid;
    gap: 1.2rem;
    margin: auto;
    width: 80%;
    width: fit-content;
}



.lastDouble {
    grid-column: 1/3;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15rem;
}

.projects {
    width: 100%;
    position: relative;
    top: -10rem;
}

.buttons {
    width: 100%;
    margin: auto;
    margin-bottom:2.5rem;
}

.buttons > button {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.selected {
    background-color: white;
    border: 2px solid white;
    color: #000
}

.buttons > button:not(:last-child) {
    margin-right: 1.5rem;
}

.buttons > .button:hover {
    background-color: #FFF;
    color: #000;
}

.last {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.last > article {
    width: 60%;
    margin: auto;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.last > article > h2 {
    font-size: 38px;
    line-height: 98.7%;
}

.last > article > a, .lastDouble > article > a {
    background-color: white;
    padding: 0.5rem 1.2rem 0.5rem 1.2rem;
    border-radius: 50px;
    font-weight: 700;
    width: fit-content;
    color: #000;
    transition: all 0.3s ease;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
}

.last > article > a:hover, .lastDouble > article > a:hover {
    background-color: black;
    padding: 0.5rem 1.2rem 0.5rem 1.2rem;
    border-radius: 50px;
    font-weight: 700;
    width: fit-content;
    color: #FFF;
    border: 1px solid white;
}

@media (max-width: 700px) {
    .grid {
        display: flex;
        flex-direction: column;
    }
    .container {
        width: 90%;
    }
    .double {
        flex-direction: column-reverse;
    }
}

@media (max-width: 700px) {
    .buttons {
        display: none;
    }
    .projects {
        top: 0;
    }
    .container {
        padding-bottom: 6rem;
    }
    .last {
        display: none;
    }
}

@media (min-width: 1670px) {
    .container {width: 75%;}
    .grid {width: 100%; }
}