.container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
}

.container > article {
    position: relative;
    height: 30rem;
}

.container > article > img, .single > article > img {
    height: 100% !important;
    width: 100%;
    object-fit: cover;
}

.lastSingle {
    grid-column: 1/4;
}

.lastDouble {
    grid-column: 2/4;
}

.single > article {
    height: 25rem;
}

.single {
    padding-bottom: 7rem;
}

@media (max-width: 1300px) {
    .container {
        gap: 0
    }
    .doubleOf3 {
        grid-column: 1/-1;
    }
    .doubleOf5 {
        grid-row: auto;
        grid-column: 1/-1;
    }
}

@media (min-width: 1670px) {
    .container {
        overflow: hidden ;
        grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    }

    .container > article {

        min-height: 23rem;
    }
}