.container {
    display: grid;
    min-height: 50vh;
    width: 100%;
}

.container > article {
    position: relative;
    overflow: hidden;
    object-fit: cover;
    height: 50vh;
}

.container > article > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 700px) {
    .container {
        min-height: 16rem !important;
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(auto-fill, 16rem) !important;
        height: fit-content !important;
    }

    .container > article {
        height: auto !important;
    }
}