.container {
    display: grid;
    width: 100%;
    padding-top: 4rem;
    grid-template-columns: repeat(3, minmax(27rem, 1fr));
}

.container > article {
    position: relative;
    height: 25rem;
}

.container > article > img, .single > article > img {
    height: 100% !important;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.single > article {
    height: 25rem;
}

.single {
    padding-bottom: 7rem;
}

@media (max-width: 1300px) {
    .container {
        gap: 0
    }
    .container > article > img, .single > article > img {
        height: 100% !important;
        width: 100%;
        object-fit: cover;
    }
}

@media (min-width: 1670px) {
    .container {
        overflow: hidden ;
        grid-template-columns: repeat(3, minmax(30rem, 1fr));
    }

    .container > article {
        position: relative;
        height: 35rem;
    }

    .single > article {
        height: 45rem;
    }
}