.wrapper {
    width: 100%;
    min-height: 100vh;
    padding: 8rem 0 8rem 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper > div {
    margin: auto;
    width: 78%;
}

.wrapper > div > h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 115.5%;
}

.services {
    margin-top: 5.5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services > article > h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 98.7%;
}

.category > ul {
    list-style: none;
    padding: 0;
    margin-top: 3rem;
}

.category > ul > li {
    font-size: 24px;
    font-family: "Lora", serif;
    line-height: 195.2%;
    margin-top: 0.5rem;
}

@media (max-width: 600px) {
    .wrapper {
        padding: 6rem 0 6rem 0;
    }
    .wrapper > div > h2 {
        width: 100%;
        text-align: center;
    }
    .wrapper > div > section > article {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .services {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }

    .category > ul {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .category > h3 {
        margin: 2rem 0 2rem 0;
    }

    .category > ul > li {
        list-style: none;
        margin: 0.5rem 0 0rem 0;
        text-align: center;
        font-size: 1.5rem;
    }
    .services > article > h3 {
        font-size: 1.7rem;
        font-weight: 800;
        margin-top: 4rem;
    }
    
    
}