.slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dots {
    width: 10%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
    position: relative;
}

.container {
    display: flex;
    position: relative;
    cursor: pointer;
    font-size: 22px;

}


  /* Esconder los checkmarks que vienen por default */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


  /* Crear checkmarks */
.checkmark {
    height: 0.7rem;
    width: 0.7rem;
    background-color: transparent;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

  
  /* Crear el indicador que va a estar escondido cuando no ese checkmark no esté seleccionado */
  .checkmark:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  
  /* Mostrar el indicador cuando se seleccione ese checkmark */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  .container input:checked ~ .checkmark {
    background-color: transparent;
  }
  
  /* Estilo del indicador */
  .container .checkmark:after {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      background: #FF7843;
  }