.slider {
    width: 84%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: auto;
}

.slider > div > div > div > div > div {
  height: auto;
  padding: 0;
}

.slider > div > div {
  color: white;
}

.article > h3 {
  white-space: pre-line;
  margin: 0;
  font-size: 2.5rem;
  line-height: 3.2rem;
  padding-left: 9%;
  font-weight: 700;
}

.article > p {
  position: relative;
  right: 0;
  white-space: pre-line;
  margin: 0;
  width: 100%;
  margin-left: 4.5rem;
  padding-right: 1rem;
  font-size: 1.8rem;
  line-height: 3.5rem;
  font-weight: 300;
}

.article {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: 'Poppins', sans-serif;
  position: relative;
  margin-bottom: 6rem;
}

.dots {
    width: 12%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
    position: relative;
    margin-left: -2rem;
}

.container {
    display: flex;
    position: relative;
    cursor: pointer;
    font-size: 22px;

}

.wrapper {
  width: 100%;
  margin-top: 13rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper > h3 {
  font-size: 40px;
  color: white;
  margin-bottom: 9rem;
}


  /* Esconder los checkmarks que vienen por default */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


  /* Crear checkmarks */
.checkmark {
    height: 0.8rem;
    width: 0.8rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
}

  
  /* Crear el indicador que va a estar escondido cuando no ese checkmark no esté seleccionado */
  .checkmark:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  
  /* Mostrar el indicador cuando se seleccione ese checkmark */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  .container input:checked ~ .checkmark {
    background-color: transparent;
  }
  
  /* Estilo del indicador */
  .container .checkmark:after {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      background: white;
  }

  @media (max-width: 700px) {

    .slider {
      width: 100%;
    }

    .slider > div > div > div > div {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .wrapper {
      width: 100%;
      margin: auto;
      padding-bottom: 6rem;
    }

    .wrapper > h3 {
      margin-bottom: 8rem;
      font-size: 30px;
      width: 100%;
      text-align: center;
    }
    .article {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 3rem;
      width: 90%;
    }
    .article > h3 {
      padding: 0;
      text-align: center;
      font-size: 24px;
      width: 70%;
      line-height: normal;
      margin-bottom: 2rem;
    }
    .article > p {
      font-size: 20px;
      font-family: 'Lora', serif;
      line-height: 186.5%;
      margin: auto;
      text-align: center;
      width: 95%;
      padding: 0;
    }

    .dots {
      margin: auto;
      width: 35%;
    }

    .checkmark {
      height: 0.8rem;
      width: 0.8rem;
  }
  }