.wrapper {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.wrapper > section {
    margin: -5rem auto 4rem auto;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 1rem;
    position: relative;
}

.wrapper > section > article {
    position: relative;
    padding-top: 56.25%;
} 

.wrapper > a {
    margin-top: 2rem;
    font-weight: 600;
    width: fit-content;
    letter-spacing: 1px;
    padding: 0.7rem 1rem 0.7rem 1rem;
    color: white;
    background-color: #FF7843;
    border-radius: 50px;
    transition: all 0.5s ease;
}

.wrapper > a:hover {
    color: #222222;
    background-color: white;
}

.wrapper > section > article > div > div > div { /* Perdón por la cantidad de divs, es el Play Icon del react-player */
    transform: scale(0.7);
    transition: all 0.3s ease;
}

.wrapper > section > article > div > div > div > div {
    transition: all 0.3s ease;
}

.wrapper > section > article > div > div > div > div:hover {
    background-color: #FF0000 !important;
}

@media (max-width: 600px) {
    .wrapper > section {
        margin: -5rem auto 4rem auto;
        width: 75%;
        display: grid;
        grid-template-columns: 100%;
        position: relative;
    }
}